body {
    background-color: #CCEBBF;
}

.topo {
    background-color: #62CC6D;
    text-align: center;
}

.animal {
    width: 29%;
    height: 400px;
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom:6px;
    padding-right: 20px;
    background-color:#C8EB71;
    margin: 10px;
}

.historia {
    float: left;
}

h2 {
    background: url(agua.jpg);
    color: white;
    padding-left: 5px;
    width: 100%;
    height: 30px;
}

.footer {
    float: left;
    text-align: center;
    background-color: #C8EB71;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
}

.texto {
    background-color: #71EB7C;
    padding: 15px;
}

img {
    width: 100%;
    height: 80px;
}