.topo {
    background-color: rgb(82, 193, 117);
}

.animal {
    width: 30%;
    float: left;
    padding: 10px;
}

.historia {
    float: left;
}

h2 {
    background: url(cueio.png);
}

.footer {
    float: left;
}

img {
    width: 100%;
}